body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
}

.movie {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.movie h2 {
    font-size: 18px;
    margin: 0;
}

.movie p {
    margin: 5px 0;
}

label {
    margin-right: 10px;
    font-weight: bold;
    color: #444;
}

select {
    padding: 5px;
}
